.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.filter-nav
  .container
    .row
      .tags-list
        .text-center
          %h2 Tags List
          %ul
          - @tags.each do |tag|
            %li.col-md-4.list-unstyled
              %button.btn.btn-default
                = link_to "#{tag.name}", tag_path(tag.name)

.text-center
  = paginate(@tags)
